
<main>

    <div id="APP">

        <WebGL/>
        <Header/>
        <Gallery/>
    </div>

</main>

<style>

</style>

<script>
    import Header from "./header.svelte"
    import Gallery from "./gallery.svelte"
    import WebGL from "./webgl.svelte"
    import data from "../data"
    import {projects} from "../store";


    let final_projects = [];


    // loop through and sort out WebGPU stuff for browsers that don't support.
    data.forEach(itm => {

        if(itm.webgpu){
            if(navigator["gpu"]){
               final_projects.push(itm)
            }
        }else{
            final_projects.push(itm);
        }

    })

    // set the store.
    $projects = final_projects;

</script>