<section id="GALLERY">

    <div class="wrap no-pad-top fixed description">
        <p>Hello! My name is Joseph Chow and I'm a software developer living in California.</p>
        <br/>
        <p>I am, still ha,  trying to come up with a design for a main portfolio that I don't immediately
        have a wave of disgust for so in the meantime, here are some experiments I have done in my free time. They range from web based to desktop focused experiments</p>


        <br/>
        <ul>
            <li>
                You can find the source for most of these
                <a href="https://gitlab.com/sortofsleepy/bite-sized/" rel="nofollow" target="_blank">
                    here
                </a>
            </li>
            <li>
                The source for this site temporary site can be found
                <a href="https://gitlab.com/sortofsleepy/experiments-site" target="_blank">here </a>

            </li>
            <li>
                I'm looking for work! Please visit
                <a href="https://pond-dresser-0dc.notion.site/About-Me-83cdf7f65d764227be91df4ce735ad2c" target="_blank">
                    here
                </a>
                to find out more
            </li>
        </ul>
    </div>

    <div class="container titles" bind:this={parentScroll}>
        <div class="container-content" bind:this={content}>
            {#if $projects.length > 0}
                {#each $projects as proj}
                    {#if proj.external | proj.vimeo}
                        <h1 class="clickable">
                            <a rel="noreferrer" class="clickable" href={proj.url} target="_blank">{proj.title}</a>
                        </h1>
                    {:else}
                        <h1 class="clickable" on:click={processClick} data-path={proj.url} data-vimeo={proj.vimeo}>{proj.title}</h1>
                    {/if}
                {/each}
            {/if}
        </div>
    </div>

</section>

<style>


    @media screen and (max-width: 1024px){
        .container-content{
            position: inherit;
        }

        .container {
            height:50vh;
            bottom:0;
            position: absolute;
        }

        p {
            max-width: 80vw;
            font-size: 100%;
            font-weight: 100;
        }

        h1 {
            font-size: 50px;
        }

    }

</style>

<script>
    import Vimeo from "./vimeo.svelte"
    import VirtualScroll from "virtual-scroll"
    import {onMount} from "svelte";
    import {clamp} from "../utils/math";
    import {projects} from "../store"


    let currentY = 0;
    let targetY = 0;
    // for now not used but maybe I'll get around to building out a in-site viewer for vimeo.
    let current_video = "609950871"
    let show_video = false;

    // react to when the length of projects is > 0
    // when projects are done loading, we construct html
    $:if($projects.length > 0){
        console.log($projects);
    }

    ///////////////// TITLE SCROLL CONTAINER ///////////////////////////////

    // elements relating to listing experiment titles
    let parentScroll,content;

    // max height titles can scroll and the parent height for comparison
    let maxHeight,parentHeight;

    const scroller = new VirtualScroll();


    onMount(()=>{

        // make sure to adjust heights as necessary
        window.addResizeCallback(() => {
            maxHeight = content.getBoundingClientRect().height;
            parentHeight = parentScroll.getBoundingClientRect().height;

            // if max height of content becomes < parent, reset everything
            if(maxHeight < parentHeight){
                content.style.transform = `translate3d(0,0,0)`
                currentY = 0;
                targetY = 0;
            }
        })

        // a weird Svelte issue - need a Timeout so we can get the correct Bounding client height
        setTimeout(() => {


``
            scroller.on(e => {
                maxHeight = content.getBoundingClientRect().height;
                parentHeight = parentScroll.getBoundingClientRect().height;

                let diff = maxHeight - parentHeight;
                // only scroll if the content height > parent height.
                if(maxHeight > parentHeight){
                    targetY -= e.deltaY;
                    targetY = clamp(targetY,0,diff);
                    currentY += (targetY - currentY) * 0.05;
                    content.style.transform = `translate3d(0,${currentY * -1}px,0)`
                }
            })

        })
    })

    /**
     * Process click from in-site link
     */
    function processClick(e){
        let target = e.target;

        let path = target.getAttribute("data-path");
        window.open(path);

    }

    /*

                    Windows style scroll
                    ===
                    targetY -= e.deltaY;
                    targetY = clamp(targetY,maxHeight,0);
                    currentY += (targetY - currentY) * 0.2;
                    scroll.style.transform = `translateY(${currentY * -1}px)`


                    OSX style scroll
                    ====
                    targetY += e.deltaY;
                    targetY = clamp(targetY,maxHeight,0);
                    currentY += (targetY - currentY) * 0.2;
                    scroll.style.transform = `translateY(${currentY * -1}px)`

                 */
</script>

