<section id="VIMEO">
    {@html embed_code}
</section>

<style>
    #VIMEO{
        position: absolute;
        top: 0;
        width:100%;
        height:100%;
        z-index: 9;
    }
</style>

<script>

    import vimeo from "../utils/vimeo";
    import {onMount} from "svelte";

    export let video_id;

    $:embed_code = vimeo(video_id);

    onMount(()=>{

    })

</script>