<section id="webgl" bind:this={webgl}>
    <canvas bind:this={canvas}></canvas>
</section>

<style>
    h1 {
        position: absolute;
        top:50%;
        left:50%;
        transform:translateX(-50%) translateY(-50%);
    }



    canvas {
        position: absolute;
        top:0;
        left:0;
        width:100%;
    }
</style>

<script>
    import {onMount} from "svelte"
    import PetalContent from "../webgl/PetalContent";

    let canvas,webgl;
    let petalContent;

    /**
     * Sets GL canvas size
     */
    function setCanvasSize(){
        const app = document.querySelector("#APP");
        const appStyle = getComputedStyle(app);

        // resize context
        canvas.width = parseInt(appStyle.width);
        canvas.height = parseInt(appStyle.height);
    }


    onMount(()=>{
        setCanvasSize();
        window.addResizeCallback(setCanvasSize);

        // init load screen
        petalContent = new PetalContent(canvas);
        petalContent.start();

    })

    /*

    // more of a check for dev to ensure less noise in console.
    if($projects.length < 1){
        // parse the information and do things like load images.
        let parseData = data.map(itm => {
            return new Promise((res,rej)=>{
                let img = new Image();
                img.src = itm.thumbnail;
                img.onload = () => {
                    // should be cached so this "should" work fine with minimal if any loading time involved at this point.
                    itm.thumbnail =`<img src="${itm.thumbnail}" />`
                    res(itm);
                }
            })
        })


        // run all the Promises.
        Promise.all(parseData).then(itms => {
            $projects = [...itms];
        })

    }
     */
</script>