@import "./variables";
@import "./satoshi";


/*
  Holds general styles or styles that would be better calculated with Scss functions/variables.
  More specific stuff will usually be found in component itself.
 */

* {
  margin:0;
  padding:0;
}

body {
  font-family: "Satoshi-Variable";
}

#MAIN {
  overflow: hidden;
  position: relative;
  width:100vw;
  height:100vh;
}

canvas {
  position: absolute;
  top:0;
  left:0;
  z-index: -1;
}

#GL {
  position: absolute;
  top:0;
  left:0;
}

#APP {
  background: $bgColor;
  z-index:$background;
  position: absolute;
  overflow:hidden;
  left:$app-position-left;
  top:$app-position-right;
  height: $app-height;
  width: $app-width;
}

ul{
  list-style-position: inside;
}

#LOADING{
  height: 100%;
  width: 100%;
  overflow:hidden;
  z-index: 3;
  background:$bgColor;
  position: absolute;

  &.loaded {
    transition:all 1.6s ease;
    transform:translate3d(0,100vh,0);

  }
}

a{
  color:$defaultColor;
  text-decoration: none;
}

h1,h2,h3,p{
  user-select: none;
}

h1,h2,h3{
  color:$defaultColor;
}

.wrap {
  padding:20px;
}

li:hover {
  cursor: pointer;
}

a {
  &:hover {
    cursor: pointer;
  }
}

.fixed {
  position: fixed;
}

.scrollable-container {
  height:100vh;
  width:100vw;
}

///////// HEADER ////////////////////

header {
  li {
    transition: color 0.5s ease;
    &:not(.mobile){
      &.light-bg-hover {
        &:hover{
          color:$light-bg-hover;
        }
      }
    }
  }
}

header,nav {
  user-select: none;
}

.clickable {
  cursor: pointer;
}

.description{
  margin-top:40px;
  z-index: 999;
}

h2 {
  position: fixed;
}

.container {
  position: relative;
  height:100vh;
  width:100vw;
}

.container-content{
  position: absolute;
  right:40px;
}

a {
  font-weight: bold;
  transition:color 0.5s ease;
}

h1 {
  text-align: right;
  font-size:120px;
  font-weight: bold;
  transition:color 0.5s ease;
}

h1:hover, a:hover {
  transition:color 0.5s ease;
  color: #ececec;
}

p {
  max-width: 40vw;
  font-size: 32px;
  font-weight: 100;
}

ul li {
  font-size:25px;
}
