@use 'sass:math';

///// misc //////
$padding:40px;

$default-ease-time:5s;

///// colors  //////
$bgColor: rgb(209, 209, 209);

$defaultColor: rgb(71, 71, 71);
$hoverColor:#ececec;
/////// hover colors /////

// against a light background
$light-bg-hover: #777;

///// z index levels //////
$foreground:99;
$midground:50;
$background:1;
$nonactiveBackground:-1;


//// main app element padding /////
$border-padding:20px;
$app-position-left: math.div($border-padding, 2);
$app-position-right: math.div($border-padding, 2);
$app-width: calc(100% - $border-padding);
$app-height: calc(100% - $border-padding);